@charset "UTF-8";
/* CSS Document */

html {
	margin: 0;
	padding: 0;
	background-color: #EDEDED;
}
body {
	overflow: visable;
	margin: 0 auto;
	padding: 0;
}

/* Fonts */
@font-face {
	font-family: 'high_tidebold';
	src: url('../fonts/high_tide_bold-webfont.eot');
	src: url('../fonts/high_tide_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/high_tide_bold-webfont.ttf') format('truetype'), url('../fonts/high_tide_bold-webfont.svg#high_tidebold') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Hacks */
.no_border {
	border: 0 !important;
}
.last_row {
	padding-bottom: 0 !important;
}
.border_none {
	border: none !important;
}


/*--------------------------------------------------------------------------------------------
	MAIN CONTAINER
--------------------------------------------------------------------------------------------*/
.main-container {
  position:relative;
  margin:0 auto;
  display: grid;
  width: 1500px;
  height: auto;
  color:#ededed;
	font-family: questa, serif;
	font-style: normal;
	font-weight: 300;


 /* GRID */
 grid-template-columns: 33% 1fr 1fr;
 grid-template-areas:
      "header header header"
      "hero hero hero"
      "main-section main-section main-section"
      "footer footer footer";
  /* grid-gap: 1rem; */
	/* grid-template-rows: auto auto auto auto auto auto; */

}

/*--------------------------------------------------------------------------------------------
	TOP SECTION
--------------------------------------------------------------------------------------------*/
header {
  position:relative;
	/* background-color: #FF0654; */
	display: grid;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	z-index: 999;


  /* GRID */
	grid-template-columns: 5% 45% 50%;
  grid-area: header;
	grid-column: 1/4;


}
.logo{
  position: relative;
	top: 10px;
  width:70px;
  height:65px;

	/* GRID */
	grid-area:logo;
	grid-column: 2/3;

}
.logo a{
  width:100%;
  height:100%;

}

 .logo img{
	width:75%;
}

.nav{
  position: relative;
  width:100%;
  height:65px;
	font-size: 18px;
	font-weight: 500;

	 /* GRID */
	 grid-area:nav;
	 grid-column: 3/4;

}

.nav ul{
	list-style-type: none;
	width:75%;
	height:auto;
	margin:0;
	padding:0;

	/* Vertical Alignment */
	display: table
}


.nav li{
  position: relative;
	color:#222932;
	text-align: center;
  width:30%;
  height:65px;
 /* border: solid 1px red; */;

 	/* Vertical Alignment */
	vertical-align: middle;
	display: table-cell;

}

.nav li.selected{
  font-weight: 700;

}

.nav-light li{
	color:#EDEDED;

}

span.selected-triangle{
	position:absolute;
	top: -120px;
	width: 0px;
	height: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 100px solid #FF0654;

  /* Border Radius */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}


/*--------------------------------------------------------------------------------------------
	HERO SECTION
--------------------------------------------------------------------------------------------*/
section.hero{
	position:relative;
	background:url("/Users/ryanhepford/Desktop/RH/code/rhdesign/imgs/hero-yellow-triangle.svg") no-repeat -50px 80px;
	display: grid;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 45px 0;
	border: solid 1px /* border: solid 1px red; */;

  /* GRID */
	grid-template-columns:10% 70% 10%;
  grid-area: hero;
	grid-column: 1/4;

}

section.hero-case-study{
		top:-100px;
		margin: 0 auto -100px auto;
		padding:0;
}

h1{
	font-size: 54px;
	font-weight: 450;
	width:100%;
	height:auto;
	color:#222932;
	margin:50px 0 25px 0;
	padding:0;

	/* GRID */
	grid-column: 2/3;
}

h2{
	font-size: 24px;
	font-weight: 350;
	width:100%;
	height:auto;
	color:#222932;
	margin:0;
	padding:0;

	/* GRID */
	grid-column: 2/3;
}

span.inline-highlight{
	font-weight: 450;

}

/*--------------------------------------------------------------------------------------------
	MAIN SECTION
--------------------------------------------------------------------------------------------*/


.grid-left{
	grid-column: 2/4;
}

.grid-right{
	grid-column: 3/4;
}

.tile-bottom{
	margin: 0 0 -70px 0;
}


.case-thumb{
	position:relative;
	width:457px;
	height:349px;
	border: solid 1px /* border: solid 1px red; */;
	cursor:pointer;

	/* Border Radius */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

  /* Box Shadow */
	-webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);

}

span.label {
	position: relative;
	padding: 8px 70px;
	height: 25px;
	table-layout: auto;
	min-width: 20%;
	left: 300px;
	top: -305px;
	background-color: #222932;
	border: solid 3.5px #EDEDED;
	color: #fff;
	font: 12px font-weight:300px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;

	/* Border Radius */
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.case-thumb img {
	width: 100%;
	height: 100%;
}


/* social */

.social-list{
	position: relative;
	width:100%;
	margin:0 auto;
	padding:0;
}

.social-list ul{
	position: relative;
	width:100%;
	list-style-type: none;
	float:left;
	margin:0 auto;
}

.social-list li{
	width:10%;
	padding:20px;
	float:left;
}


.social-list li img{
	width:55%;

}


/*--------------------------------------------------------------------------------------------
	CASE SECTION
--------------------------------------------------------------------------------------------*/
section.main-section{
	display: grid;
	width: 100%;
	height:auto;
	margin: 0 auto;
	padding: 45px 0;
	border: solid 1px /* border: solid 1px red; */;

  /* GRID */
	grid-template-columns:5% 45% 35%;
  grid-area: main-section;
	grid-column: 1/4;

}

section.case-section{
	display:grid;
	padding:0;

  /* GRID */
	grid-template-columns:25% 5% 70%;
	grid-template-areas:
	 "sidebar . main-content"
	 ;
  grid-area:case-section;
	grid-column: 1/4;


}

section.case-section p{
	font-size:18px;
	color:#222932;
	line-height:32px;
	padding:0 0 65px 0;
	margin:0;
	width:80%;
	font-weight:400;
}

section.case-section p.para-header{
	position:relative;
	width:100%;
	padding:0 0 5px 0;
	margin:0;
	font-weight: 600;
	text-transform: uppercase;
}


.main-content{
	position:relative;
	width:100%;
	padding:45px 0;

	/* GRID */
	grid-column:3/4;

}

.img-shots-3 {
	display:grid;
	position:relative;
	width:100%;
	height:auto;

	/* GRID */
	grid-template-columns:33% 33% 33%;
	grid-template-areas:
	 "img-1 img-2 img-3"
	 ;
  grid-area:case-section;
	grid-column: 1/4;

}

.img-shots-3 img-1, img-2, img-3{
	display:grid;
	position:relative;
	width:100%;
	height:auto;

}

.firstcharacter {
  color: #222932;
  float: left;
  font-size: 36px;
	font-weight: 700;
  line-height: 38px;
	padding:7px 15px 5px;
	margin: 0 20px 0px 5px;
	border: solid 3px #F7D07F;
}

  aside.sidebar{
	  position: relative;
		background:url("/Users/ryanhepford/Desktop/RH/code/rhdesign/imgs/sidebar.svg") no-repeat 0 0;
	  width: 375px;
		height: 375px;

		/* GRID */
		grid-area:sidebar;
		grid-column: 1/2;

   }

   aside.sidebar ul{
	 	position: relative;
	 	width:100%;
	 	list-style-type: none;
	 	margin:0 auto;
		padding:40px 25px 25px 25px;
	 }

  aside.sidebar li{
	 	width:90%;
	 	padding:6px;
		font-size:16px;
		letter-spacing: 0.5px;

	 }

	 .blue-block {
	 	position:relative;
	 	background:#222932;
	 	color:#EDEDED;
	 	padding:80px 55px;
	 	margin:100px 0;
	 	height:auto;
	 	font-size:54px;
	 	font-weight:400;

	 	/* Border Radius */
	 	border-radius: 3px;
	 	-moz-border-radius: 3px;
	 	-webkit-border-radius: 3px;

	 	/* GRID */
	 	grid-column: 1/3;
	 }


	 footer{
	 	position:relative;
	 	margin:0 auto;
	 	width:100%;
	 	height:500px;

	 }



/* @media screen and (max-width: 1024px) {} */
  /*--------------------------------------------------------------------------------------------
  	MAIN CONTAINER
  --------------------------------------------------------------------------------------------*/
  /* .main-container {
    width:100%;

  } */
